.vitepress-demo input {
    border: 1px solid;
}

.vitepress-demo button {
    border: 1px solid;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.vitepress-demo button+button {
    margin-left: 10px;
}